
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Light Way Admin</title>
</head>
<body>
    <div id="wrapper">
        
        @Html.Partial("parts/navigation", "portfolio")

        <hr />
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <a href="#">
                        <img class="img-responsive" alt="Bootstrap template" src="http://placehold.it/600x200" />
                    </a>
                </div>
                <div class="col-lg-6 col-md-6">
                    <h3>Sample One</h3>
                    <h4>Summary</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam viverra euismod odio, gravida pellentesque urna varius vitae.
                        Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
                        Mauris ultricies, justo eu convallis placerat, felis enim.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam viverra euismod odio, gravida pellentesque urna varius vitae.
                        Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
                        Mauris ultricies, justo eu convallis placerat, felis enim.
                    </p>
                    <div class="text-center">
                        <a href="#"> <i class="fa fa-thumbs-o-up fa-2x"></i> Vote Up</a>
                        <a href="#"><i class="fa fa-thumbs-o-down fa-2x"></i> Vote Down</a>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <a href="#">
                        <img class="img-responsive" alt="Bootstrap template" src="http://placehold.it/600x200" />
                    </a>
                </div>
                <div class="col-lg-6 col-md-6">
                    <h3>Sample Two</h3>
                    <h4>Summary</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam viverra euismod odio, gravida pellentesque urna varius vitae.
                        Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
                        Mauris ultricies, justo eu convallis placerat, felis enim.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam viverra euismod odio, gravida pellentesque urna varius vitae.
                        Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
                        Mauris ultricies, justo eu convallis placerat, felis enim.
                    </p>
                    <div class="text-center">
                        <a href="#"> <i class="fa fa-thumbs-o-up fa-2x"></i> Vote Up</a>
                        <a href="#"><i class="fa fa-thumbs-o-down fa-2x"></i> Vote Down</a>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <a href="#">
                        <img class="img-responsive" alt="Bootstrap template" src="http://placehold.it/600x200" />
                    </a>
                </div>
                <div class="col-lg-6 col-md-6">
                    <h3>Sample Three</h3>
                    <h4>Summary</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam viverra euismod odio, gravida pellentesque urna varius vitae.
                        Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
                        Mauris ultricies, justo eu convallis placerat, felis enim.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam viverra euismod odio, gravida pellentesque urna varius vitae.
                        Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
                        Mauris ultricies, justo eu convallis placerat, felis enim.
                    </p>
                    <div class="text-center">
                        <a href="#"> <i class="fa fa-thumbs-o-up fa-2x"></i> Vote Up</a>
                        <a href="#"><i class="fa fa-thumbs-o-down fa-2x"></i> Vote Down</a>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <a href="#">
                        <img class="img-responsive" alt="Bootstrap template" src="http://placehold.it/600x200" />
                    </a>
                </div>
                <div class="col-lg-6 col-md-6">
                    <h3>Sample Four</h3>
                    <h4>Summary</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam viverra euismod odio, gravida pellentesque urna varius vitae.
                        Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
                        Mauris ultricies, justo eu convallis placerat, felis enim.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam viverra euismod odio, gravida pellentesque urna varius vitae.
                        Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
                        Mauris ultricies, justo eu convallis placerat, felis enim.
                    </p>
                    <div class="text-center">
                        <a href="#"> <i class="fa fa-thumbs-o-up fa-2x"></i> Vote Up</a>
                        <a href="#"><i class="fa fa-thumbs-o-down fa-2x"></i> Vote Down</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
